<div class="job-card my-2 shadow-sm" *ngIf="job()">
  <!-- positioned elements inside the card -->
  <span class="badge-urgent" *ngIf="job()?.type === 'Full-time'">Urgently hiring</span>
  <i
    class="save-icon fs-5 text-dark clickable"
    [class.ri-bookmark-fill]="isSaved()"
    [class.ri-bookmark-line]="!isSaved()"
    [style.color]="isSaved() ? '#0046b8' : '#000'"
    (click)="toggleSaveJob()"
    [title]="isSaved() ? 'Remove from saved' : 'Save job'"
  ></i>
  <h2 class="job-title">{{ job()?.title }}</h2>
  <div class="company-info">
    <p class="mb-0 text-secondary">{{ job()?.company }}</p>
    <p class="text-secondary">{{ job()?.location }}</p>
  </div>

  <div class="d-flex flex-wrap gap-2 my-3">
    <div class="info-pill">{{ job()?.salary }}</div>
    <div class="info-pill">{{ job()?.type }}</div>
  </div>

  <div class="apply-section">
    <span class="easy-apply"> <i class="ri-send-plane-fill"></i> Easily apply </span>
  </div>
</div>
